<div class="row">
    <form novalidate role="form" class="form-watched form-horizontal col-sm-6 col-sm-offset-3" name="loginForm"
          ng-submit="loginForm.$valid && loginFormCtrl.login()">
        <div class="form-group">
            <label for="login">Login:</label>
            <input ng-model="loginFormCtrl.userData.login" ng-model-options="{ updateOn: 'blur' }" name="login" type="text" 
            	class="form-control" id="login" required exists-login ng-change="loginFormCtrl.onChange()">
        </div>
        <div ng-show="loginForm.$submitted || loginForm.login.$touched">
      		<span ng-show="loginForm.login.$error.required" class="error-color help-block">This field is required.</span>
		    <span ng-show="loginForm.login.$pending.existsLogin" class="help-block">Checking this login exists...</span>
		    <span ng-show="loginForm.login.$error.existsLogin" class="error-color help-block">This login does not exists.</span>
    	</div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input ng-model="loginFormCtrl.userData.password" name="password" type="password" class="form-control" id="pwd" 
            	required ng-minlength="6" ng-change="loginFormCtrl.onChange()">
        </div>
        <div ng-show="loginForm.$submitted || loginForm.password.$touched">
      		<span ng-show="loginForm.password.$error.required" class="error-color help-block">This field is required.</span>
      		<span ng-show="loginForm.password.$error.minlength" class="error-color help-block">Min length is 6 for this field.</span>
		    <span ng-show="loginFormCtrl.isNotValidPassword" class="error-color help-block">Password is not valid.</span>
    	</div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-default">Submit</button>
            <a href="#/" class="btn btn-default">Enter as guest</a>
            <a href="#/register" class="btn btn-default">Register</a>
        </div>
    </form>
</div>