<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Marketplace</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: isActive('')}"><a href="#/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="userService.isNull()" ng-class="{active: isActive('login')}"><a href="#/login">Login</a></li>
                <li ng-show="!userService.isNull()"><a href="#" ng-click="onLogoutClick()">Logout</a></li>
            </ul>
            <p ng-show="!userService.isNull()" class="navbar-text navbar-right">{{userService.getUser().name}}</p>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>