<div class="row">
    <form novalidate role="form" class="form-watched form-horizontal col-sm-6 col-sm-offset-3" name="productForm"
    	ng-submit="productForm.$valid && productFormCtrl.onFormSubmit()">
        <div class="form-group">
            <label for="title">Title of item:</label>
            <input ng-model="productFormCtrl.product.title" name="title" type="text" class="form-control" id="title" required
            	ng-change="productFormCtrl.onChange()" ng-maxlength="20">
        </div>
        <div ng-show="productForm.$submitted || productForm.title.$touched">
      		<span ng-show="productForm.title.$error.required" class="error-color help-block">This field is required.</span>
      		<span ng-show="productForm.title.$error.maxlength" class="error-color help-block">Max length is 20.</span>
		    <span ng-show="productFormCtrl.errors.title" class="error-color help-block">{{productFormCtrl.errors.title}}</span>
    	</div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea ng-model="productFormCtrl.product.description" name="description" class="form-control" id="description" required rows="5"
            	ng-change="productFormCtrl.onChange()" ng-maxlength="100"></textarea>
        </div>
        <div ng-show="productForm.$submitted || productForm.description.$touched">
      		<span ng-show="productForm.description.$error.required" class="error-color help-block">This field is required.</span>
      		<span ng-show="productForm.description.$error.maxlength" class="error-color help-block">Max length is 100.</span>
		    <span ng-show="productFormCtrl.errors.description" class="error-color help-block">{{productFormCtrl.errors.description}}</span>
    	</div>
        <div class="form-group">
            <label for="start_price">Start price:</label>
            <input ng-model="productFormCtrl.product.startPrice" name="startPrice" type="number" class="form-control" id="start_price" required
            	ng-change="productFormCtrl.onChange()" min="1" ng-maxlength="20">
        </div>
        <div ng-show="productForm.$submitted || productForm.startPrice.$touched">
      		<span ng-show="productForm.startPrice.$error.required" class="error-color help-block">This field is required.</span>
      		<span ng-show="productForm.startPrice.$error.min" class="error-color help-block">Min value is 1.</span>
      		<span ng-show="productForm.startPrice.$error.maxlength" class="error-color help-block">Max length is 20.</span>
		    <span ng-show="productFormCtrl.errors.startPrice" class="error-color help-block">{{productFormCtrl.errors.startPrice}}</span>
    	</div>
    	<div class="form-group">
            <label for="bid_step">Bid step:</label>
            <input ng-model="productFormCtrl.product.bidStep" name="bidStep" type="number" class="form-control" id="bid_step" ng-maxlength="10">
        </div>
        <div ng-show="productForm.$submitted || productForm.bidStep.$touched">
      		<span ng-show="productForm.bidStep.$error.maxlength" class="error-color help-block">Max length is 10.</span>
    	</div>
        <div class="form-group">
            <label for="time_left">Time left:</label>
            <input ng-model="productFormCtrl.product.hoursToEnd" name="hoursToEnd" type="number" class="form-control" id="time_left" ng-maxlength="10">
        </div>
        <div ng-show="productForm.$submitted || productForm.hoursToEnd.$touched">
      		<span ng-show="productForm.hoursToEnd.$error.maxlength" class="error-color help-block">Max length is 10.</span>
    	</div>
        <div class="form-group">
            <label for="buy_it_now">Buy it now:</label>
            <input ng-model="productFormCtrl.product.isBuyNow" name="isBuyNow" type="checkbox" id="buy_it_now">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-default">Save</button>
            <button ng-click="productFormCtrl.onResetBtnClick()" type="reset" class="btn btn-default">Reset</button>
        </div>
    </form>
</div>