<div>
    <h1>Online Marketplace</h1>
    <div class="row">
        <form novalidate class="col-sm-6 col-sm-offset-1" ng-submit="onSearchFormSubmit(param, keyword)">
            <h3>Search parameters</h3>
            <label for="keyword">Keyword:</label>
            <div class="form-inline">
                <div class="form-group">
                    <input ng-model="keyword" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <select ng-model="param" class="form-control">
                        <option value="id">id</option>
                        <option value="title">title</option>
                        <option value="desc">description</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="row">
        <ul class="list-inline col-sm-6">
            <li>
                <button id="showAll" ng-click="onShowAllBtnClick()" class="btn btn-default">Show all items</button>
            </li>
            <li ng-show="!userService.isNull()">
                <button ng-click="onShowMyItemsBtnClick()" class="btn btn-default">Show my items</button>
            </li>
            <li ng-show="!userService.isNull()">
                <button ng-click="onSellBtnClick($event)" class="btn btn-default">Sell</button>
            </li><li ng-show="!userService.isNull()">
                <button ng-click="onAddBtnClick()" class="btn btn-default">Add</button>
            </li>
        </ul>
    </div>
    <table id="products" class="table table-bordered">
        <thead>
        <tr>
        	<th ng-if="!userService.isNull()">For sale</th>
            <th>id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Seller</th>
            <th>Start price</th>
            <th>Bid Inc</th>
            <th>Best offer</th>
            <th>Bidder</th>
            <th>Stop date</th>
            <th ng-if="!userService.isNull()">Bidding</th>
            <th ng-if="!userService.isNull()">Edit</th>
            <th ng-if="!userService.isNull()">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products" data-id="{{product.id}}" 
        	ng-show="isShowAll || (product.owner.id == userService.getUser().id)">
        	<td ng-if="!userService.isNull()">
        		<input class="checkbox-for-sale" type="checkbox" data-id="{{product.id}}"
        			ng-show="product.owner.id == userService.getUser().id && product.status == 'NOT_FOR_SALE'">
       		</td>
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.owner.name}}</td>
            <td>{{product.startPrice}}</td>
            <td>{{product.bidStep}}</td>
            <td>{{product.bestBid.offer}}</td>
            <td>{{product.bestBid.bidder.name}}</td>
            <td>{{product.finishDate}}</td>
            <td ng-if="!userService.isNull()">
                <form novalidate name="bidForm-{{product.id}}"
               		ng-if="product.status == 'FOR_SALE' && !product.isBuyNow && product.owner.id != userService.getUser().id">
                    <div class="col-md-6">
                        <input type="number" class="input-offer form-control">
                    </div>
                    <div class="col-md-6">
                        <button ng-click="onBidBtnClick($event)" class="btn btn-default btn-block">Bid</button>
                    </div>
                </form>
                <div ng-if="product.status == 'FOR_SALE' && product.isBuyNow && product.owner.id != userService.getUser().id" class="col-sm-12">
                    <button ng-click="onBuyBtnClick($event)" class="btn btn-default btn-block">Buy</button>
                </div>
            </td>
            <td ng-if="!userService.isNull()">
            	<button ng-show="product.owner.id == userService.getUser().id" class="btn btn-default btn-edit" type="submit"
            		ng-click="onEditBtnClick($event)">
            		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            	</button>
            </td>
           	<td ng-if="!userService.isNull()">
           		<button ng-show="product.owner.id == userService.getUser().id" class="btn btn-default btn-remove"
           			ng-click="onDeleteBtnClick($event)">
           			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
           		</button>
          	</td>
        </tr>
        </tbody>
    </table>
</div>