<div class="row">
    <form novalidate role="form" class="form-watched form-horizontal col-sm-6 col-sm-offset-3" name="registerForm"
    	ng-submit="registerForm.$valid && registerFormCtrl.register()">
        <div class="form-group">
            <label for="fullName">Full Name:</label>
            <input ng-model="registerFormCtrl.newUser.name" name="name" type="text" class="form-control" id="fullName" required>
        </div>
        <div ng-show="registerForm.$submitted || registerForm.name.$touched">
      		<span ng-show="registerForm.name.$error.required" class="error-color help-block">This field is required.</span>
		    <span ng-show="registerFormCtrl.errors.name" class="error-color help-block">{{registerFormCtrl.errors.name}}</span>
    	</div>
        <div class="form-group">
            <label for="billAddress">Billing address:</label>
            <input ng-model="registerFormCtrl.newUser.billingAddress" name="billingAddress" type="text" class="form-control" id="billAddress" required>
        </div>
        <div ng-show="registerForm.$submitted || registerForm.billingAddress.$touched">
      		<span ng-show="registerForm.billingAddress.$error.required" class="error-color help-block">This field is required.</span>
		    <span ng-show="registerFormCtrl.errors.billingAddress" class="error-color help-block">{{registerFormCtrl.errors.billingAddress}}</span>
    	</div>
        <div class="form-group">
            <label for="login">Login:</label>
            <input ng-model="registerFormCtrl.newUser.login" ng-model-options="{ updateOn: 'blur' }" name="login" type="text" 
            	class="form-control" id="login" required not-exists-login  ng-change="registerFormCtrl.onChange()">
        </div>
        <div ng-show="registerForm.$submitted || registerForm.login.$touched">
      		<span ng-show="registerForm.login.$error.required" class="error-color help-block">This field is required.</span>
		    <span ng-show="registerForm.login.$pending.notExistsLogin" class="help-block">Checking if this login is available...</span>
		    <span ng-show="registerForm.login.$error.notExistsLogin" class="error-color help-block">This login is busy.</span>
		    <span ng-show="registerFormCtrl.errors.login" class="error-color help-block">{{registerFormCtrl.errors.login}}</span>
    	</div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input ng-model="registerFormCtrl.newUser.password" name="password" type="password" class="form-control" id="pwd" 
            	required ng-minlength="6" ng-change="registerFormCtrl.onChange()">
        </div>
        <div ng-show="registerForm.$submitted || registerForm.password.$touched">
      		<span ng-show="registerForm.password.$error.required" class="error-color help-block">This field is required.</span>
      		<span ng-show="registerForm.password.$error.minlength" class="error-color help-block">Min length is 6 for this field.</span>
		    <span ng-show="registerFormCtrl.errors.password" class="error-color help-block">{{registerFormCtrl.errors.password}}</span>
    	</div>
        <div class="form-group">
            <label for="repeatPwd">Repeat password:</label>
            <input ng-model="registerFormCtrl.newUser.repeatPassword" name="repeatPassword" type="password" class="form-control" id="repeatPwd" required 
           		ng-minlength="6" password-repeat="#pwd" ng-change="registerFormCtrl.onChange()">
        </div>
        <div ng-show="registerForm.$submitted || registerForm.repeatPassword.$touched">
      		<span ng-show="registerForm.repeatPassword.$error.required" class="error-color help-block">This field is required.</span>
      		<span ng-show="registerForm.repeatPassword.$error.minlength" class="error-color help-block">Min length is 6 for this field.</span>
      		<span ng-show="registerForm.repeatPassword.$error.passwordRepeat" class="error-color help-block">Password must be repeated.</span>
		    <span ng-show="registerFormCtrl.errors.repeatPassword" class="error-color help-block">{{registerFormCtrl.errors.repeatPassword}}</span>
    	</div>
        <div class="text-center">
            <button type="submit" class="btn btn-default">Register</button>
            <button ng-click="registerFormCtrl.onResetBtnClick()" type="reset" class="btn btn-default">Reset</button>
        </div>
    </form>
</div>