.form-watched .ng-invalid.ng-touched {
	border-color: #FA787E;
}

.form-watched .ng-valid.ng-touched {
	border-color: #78FA89;
}

.help-block.error-color {
	color: #FA787E;
}

.checkbox-for-sale {
	height: 20px;
	width: 20px;
}